<div class='social-media text-center'>
  <a href='https://twitter.com/omn0mn0m_' target='_blank'>
    <svg class='feather text-secondary'>
      <use xlink:href="/fonts/feather-sprite.svg#twitter"/>
    </svg>
  </a>
  
  <a href='https://linkedin.com/in/omn0mn0m' target='_blank'>
    <svg class='feather text-secondary'>
      <use xlink:href="/fonts/feather-sprite.svg#linkedin"/>
    </svg>
  </a>

  <a href='mailto:me@omn0mn0m.com' target='_blank'>
    <svg class='feather text-secondary'>
      <use xlink:href="/fonts/feather-sprite.svg#mail"/>
    </svg>
  </a>
  
  <a href='https://twitch.com/omn0mn0m' target='_blank'>
    <svg class='feather text-secondary'>
      <use xlink:href="/fonts/feather-sprite.svg#twitch"/>
    </svg>
  </a>
  
  <a href='https://github.com/omn0mn0m' target='_blank'>
    <svg class='feather text-secondary'>
      <use xlink:href="/fonts/feather-sprite.svg#github"/>
    </svg>
  </a>
</div>
